<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Passwords do not match!</title>
        {% load static %}
        <script src="{% static '/controllers/css.js' %}"></script>
        <script>
            loadCSS(1);
        </script>
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static '/fa/css/font-awesome-exclamation-circle.css' %}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static '/css/tos_warning.css' %}"
        />
    </head>

    <body>
        <h1 class="appbar violated_appbar">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <span class="violated_text"
                >Registration Paused | Passwords do not match</span
            >
        </h1>
        <h2>What happened?</h2>
        <div class="text-padded">
            The password you tried to confirm was different from the password
            you chose. To ensure that you are not locked out of your account, we
            paused the registration for you.
        </div>
        <h2>What should I do now?</h2>
        <div class="text-padded">
            You can use the back button of your web browser to go back to the
            registration form. Then, ensure that you carefully confirm your
            chosen password.
        </div>
    </body>
</html>
