<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Virtual Election Administration</title>
        {% load static %}
        <script src="{% static '/controllers/css.js' %}"></script>
        <script>
            loadCSS(1);
        </script>
        <style>
            table {
                width: 98%;
            }
            button {
                padding: 1% 1%;
                font-size: 0.8em;
            }
        </style>
    </head>

    <body>
        <header class="appbar">Mod zone</header>
        <h1>Search Profiles</h1>
        <table>
            <tr>
                <td>
                    <button onclick="javascript:nota()">
                        Allow (unban) or Disallow (disqualify) "None of the
                        Above" votes
                    </button>
                </td>
            </tr>
        </table>
        <form action="/modzone/mod/" id="profile_check" method="POST">
            <table>
                {{ search.as_table }} {% csrf_token %}
                <tr>
                    <td colspan="2">
                        <input type="submit" class="submitbtn" value="Search" />
                    </td>
                </tr>
            </table>
        </form>
        {% if form is not None %}
        <h1>Monitor Account</h1>
        <form action="/modzone/ban/" id="profile_ban" method="POST">
            <table>
                {{ form.as_table }} {% csrf_token %}
                <tr>
                    <td colspan="2">
                        <button
                            class="submitbtn"
                            onclick="javascript:openProfile()"
                        >
                            Open Profile
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input
                            type="submit"
                            class="submitbtn"
                            value="Save Settings"
                        />
                    </td>
                </tr>
            </table>
        </form>
        {% endif %}
        <script>
            function nota() {
                document.getElementById("id_party_name").value =
                    String("None of the above");
                document.getElementById("profile_check").submit();
            }
            function openProfile() {
                var profileId = document.getElementById("id_party_id").value;
                var url = "/contestant/profile/" + String(profileId);
                window.open(url);
            }
        </script>
    </body>
</html>
