<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Virtual Election Administration</title>
        {% load static %}
        <script src="{% static '/controllers/css.js' %}"></script>
        <script>
            loadCSS(1);
        </script>
        <style>
            table {
                width: 98%;
            }
        </style>
    </head>

    <body>
        <header class="appbar">Election Settings</header>
        <h1>This page is still under construction!</h1>
    </body>
</html>
